body {
  background: linear-gradient(-45deg, #11651c, #12316c, #391c83, #69175b);
  animation: gradient 15s ease infinite;

}

.App {
  text-align: center;
}

.img-div{
  margin-top: 20px;
}

.img {
  height: 300px;
  width: 300px;
  box-shadow: 3px 17px 49px -21px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 17px 49px -21px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 17px 49px -21px rgba(0,0,0,0.75);
}

.name {
  color: white;
  font-family: "Arial Black";
}

.gender {
  color: white;
  font-family: "Arial Black";
}

.status {
  color: white;
  font-family: "Arial Black";
}

.species {
  color: white;
  font-family: "Arial Black";
}

.id {
  color: white;
  font-family: "Arial Black";
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
